//
   Created by Frio on 25. 5. 2015.

html
    head
        title Firozo
    body
        script(src="/lib/require.js", type="text/javascript")
        script(src="/client.js", type="text/javascript")